spring-study/src/main/resources/com.eitan.tag/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://eitan-blog.github.io/schema/eitan"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">
	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="userName" type="xsd:string"/>
			<xsd:attribute name="password" type="xsd:string"/>
			<xsd:attribute name="email" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>